.block{
	background-color: #25BAC2;
	width: 70%;
	height: 70%;
}

.menu{
	background-color: black;
}
li{
	color:white;
	display: inline-block;

}

small{
	color:blue;
}
.gray{
	background-color: #efeff4;
}
.imagen{
	width:100% ;
	height: 100%;
	margin-top: 10%;
}
.icons{
	width:55% ;
	height: 55%;

}
#color{
	color: gray;
}
.foot{
	background-color: #595959;
}
.parrafo{
	color: white;
	letter-spacing: 10%;
}
.blue{
	color: blue;
}
nav{
	margin-top: 7%;
	letter-spacing: 10%;
	margin-left: 4%;

}